<?xml version="1.0" encoding="utf-8"?>
<!--
Feature 1 change
Made another Feature 1 change
  For more information on how to configure your ASP.NET application, please visit
  
  Feature 2 change
  Made another Feature 2 change
  
  Feature 3 change without --no-ff from cmd
  Another feature 3
  
  Feature 4 change
  Another Feature 4
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
</configuration>